<h2>Editing Book</h2>

<%= form_for(@book, url:"/books/#{@book.id}" do |f| %>
	<h4>Title</h4>
	<%= f.text_field :title %>
	<h4>Body</h4>
	<%= f.text.area :body %>
	<%= f.submit 'Update Book' %>

	<%=link_to "show", book_path(post.id) %>
	<%=link_to "Back", back_book_path(@book.id) %>