<h2>Editing Book</h2>

<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
　　　<% if @book.errors.any? %>
	 	<% @book.errors.full_messages.each do |message| %>
	 	    <div>1 error prohibited this book from being saved:</div>
	   		<%= message %>
	 	<% end %>
	<% end %>
	<div>Title</div>
	<div class=title><%= f.text_field :title %></div>
	<div>Body</div>
	<div class="body"><%= f.text_area :body %></div>
	<div><%= f.submit 'Update Book' %></div>

<% end %>

	<div class="box2">
	<%=link_to "Show", book_path(@book.id) %>
	|
	<%=link_to "Back", books_path %></div>

